/* Colors */
:root {
    --dark: #211D37;
    --light: #D5D5D5;
    --primary: #463765;
    --secondary: #3A2F58;
    --accent: #C77AFF;   
}

/* Mobile First: dark mode default
        Media Queries and Light mode below */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--light);
    font-family: 'DM Sans', sans-serif;
}

.dark-mode-container {
    display: flex;
    justify-content: end;
    margin: 1.5rem 2rem;
}

h1 {
    font-size: 1.5rem;
    margin: .3rem 4rem;
    margin-bottom: .3rem;
    font-weight: 700;
}

h2 {

    font-size: 3rem;
    margin: 0 4rem 0 4rem;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-contaier {
    justify-content: center;
    align-items: flex-start;
}
/*************** TODO CONTAINER ***********************/

.todo-container {
    background-color: var(--secondary);
    min-height: 50vh;
    width: 70%;
    border-radius: 2rem;
    margin: 2rem auto;
}

/* Create a new task */
.task-container {
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

form {
    width: 100%;
}

form label{
    display: block;
    font-size: 1rem;
    color: var(--light);
}

form input, form button, .categories {
    display: block;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    background: var(--primary);
    border-radius: 5em;
    width: 100%;
    margin-top: .5rem;
}

form input {
    outline: var(--dark);
}

form input::placeholder, .categories::content {
    color: var(--light);
    font-family: 'DM Sans', sans-serif;
}

form button {
    color: var(--dark);
    background: var(--accent);
    font-weight: 500;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

form button i {
    margin-right: .75rem;
}


/* TODO list */
.list-container {
    background-color: var(--dark);
    border-radius: 2rem;
    min-height: 25vh;
    display: flex;
    justify-content: center;
}

.empty {
    color: var(--light);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.todo-list {
    list-style: none;
    width: 100%;
    min-height: 80%;
}

.todo {
    background: var(--secondary);
    margin: 0.75em;
    border-radius: 2rem;
    color: var(--light);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.todo-item {
    width: 75%;
    font-size: 1.25rem;
}

.todo-category {
    color: var(--dark);
    background-color: var(--accent);
    font-size: 1.25rem;
    border-radius: 2rem;
}

.trash-btn, .complete-btn {
    border: none;
    background-color: transparent;
    margin-left: 1em;
    cursor: pointer;
}

.fa-trash, .fa-check {
    color: #9D84B7;
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
}

/*************** EVENTS CONTAINER ***********************/
.events-container {
    background-color: var(--secondary);
    width: 70%;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 1.5rem;
}

.events-heading {
    display: flex;
}

.events-heading h3 {
    font-size: 1.2em;
    margin-right: 1rem;
}

.events-button {
    color: var(--dark);
    background: var(--accent);
    font-weight: 500;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    display: block;
    padding: .2rem .35rem;
    font-size: 1rem;
    border: none;
    border-radius: 10em;
    margin: auto;
}

.events-list {
padding: 10%;
list-style: none;
}

.events-preloader {
    color: var(--light);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event {
    background: var(--dark);
    border-radius: 2rem;
    color: var(--light);
    padding:  1em;
    margin-top: 1em;
}


/* For lanscape mobile */
@media only screen and (orientation: landscape) {}

/* For tablet */
@media only screen and (min-width: 768px) {}

/* For desktop */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
        margin: 5rem 5rem .3rem 5rem;
        margin-bottom: .5rem;
        font-weight: 500;
    }
    
    h2 {
        font-size: 5rem;
        margin: 0 5rem 0 5rem;
    }
    
    /*************** TODO CONTAINER ***********************/
    .todo-container {
        min-height: 50vh;
        width: 50%;
    }
    
    /* Create a new task */
    .task-container div {
        width: 80%;
    }

    /* TODO list */
    .todo-list {
        width: 95%;
    }
    
    .todo-item {
        width: 90%;
    }
}

/* Dark mode toggle */
.light-mode {
    --dark: #eeeded;
    --light: #211D37;
    --primary: #D5D5D5;
    --secondary: #c0baba;
    --accent: #C77AFF;
}

