/* Colors */
:root {
    --dark: #211D37;
    --light: #D5D5D5;
    --primary: #463765;
    --secondary: #3A2F58;
    --greish: #8c7faf;
    --accent: #C77AFF;   
    --font-family: 'DM Sans', sans-serif;

}

/* Desktop First: dark mode default
        Media Queries and Light mode below */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--light);
    font-family: 'DM Sans', sans-serif;
    padding: 7rem 5rem;
}

.btn {
    color: var(--dark);
    background: var(--accent);
    font-weight: 500;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    display: block;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.heading-container{
    margin-top: 2rem;
}

h1 {
    font-size: 4rem;
    margin: .3rem 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-shadow: 1rem 1rem 2rem var(--secondary);
}

h2 {
    font-size: 6rem;
    margin: 0 4rem 0 4rem;
    font-weight: 700;
    text-shadow: 1rem 1rem 2rem var(--secondary);

}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem 2rem;

}

.dark-mode-container {
    display: flex;
    justify-content: end;
    font-size: 2rem;
}

.create-list-btn {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1.2rem 2.7rem;
    box-shadow: 0 0 50px var(--secondary);
}
.create-list-btn i {
    margin-right: 1rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 60vh;
}

/* LISTS CONTAINER ----------------------------------*/ 

.empty {
    background: radial-gradient( circle, var(--secondary) 0%, var(--primary) 50%);
}

.empty p {
    color: var(--light);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 15vh;
    text-align: center;
}

.empty-img {
    width: 100%;
}

/* LIST STYLES */

.list-panel {
    background-color: var(--dark);
    border-radius: 2rem;
    width: 25vw;
    box-shadow: 0 0 50px var(--secondary);
}

.list {
    background-color: var(--secondary);
    padding: 3rem 3rem 1rem 3rem;
    border-radius: 2rem;
}

.list-title-container{
    display: flex;
    font-weight: 300;
}

.list-icon{
    font-size: 2.5rem;
    color: var(--accent);
    margin: auto 0;
}

.list-title{
    font-size: 2.5rem;
    margin: 0 2rem;
    padding: 0 1rem;
    flex: 1;
    border-radius: 5rem;
}

.editing {
    background-color: var(--primary);
    outline-color: var(--accent);
    outline-width: .2rem;
    outline-style: solid;

}

.list-bar{
    display: flex;
    justify-self: end;
}

.delete-list-btn, .edit-title-btn{
    font-size: 1.5rem;
    margin-left: .5rem;
    padding: 0.6rem 0.8rem;
}

.edit-title-btn {
    background-color: var(--primary);
}

.edit-title-btn i {
    color: var(--accent);
    pointer-events: none;
}

.delete-list-btn i,  .add-task-btn i{
    color: var(--dark);
    pointer-events: none;
}

.tasks-container {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-list {
    padding: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-text {
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .05rem;

}

.list-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.task-count {
    flex: 1;
    display: flex;
    gap: 1rem;
    margin: auto;
    color: var(--greish);
    font-size: 1.7rem;
    letter-spacing: .05rem;
}

.clear-btn{
    color: var(--greish);
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
    letter-spacing: .05rem;
}
.clear-btn:hover{
    color: var(--accent);
}


/* Task Creator Panel */

.task-creator {
    padding: 2rem;
}

.task-creator form {
    display: flex;
}

.task-input{
    margin-right: 2rem;
    align-self: center;
    padding: 1.4rem;
    font-size: 1.7rem;
    color: var(--light);
    border: none;
    border-radius: 5rem;
    background-color: var(--primary);
    width: 100%;
    font-family: var(--font-family);
}

.task-input:focus {
    outline-color: var(--accent);
    outline-width: .2rem;
    outline-style: solid;
}

.task-input::placeholder {
    color: var(--greish);
}

.task-input::-webkit-input-placeholder {
    font-family: var(--font-family);

}

.task-input:-ms-input-placeholder {
    font-family: var(--font-family);
}

.task-input:-moz-placeholder {
    font-family: var(--font-family);
}

.task-input::-moz-placeholder {
    font-family: var(--font-family);
}

.add-task-btn{
    font-size: 2rem;
    padding: 1rem 1.4rem;
    align-self: flex-end;
}

/* Task styles */
.task-item {
    display: flex;
    gap: 1.5rem;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.task-check {
    font-size: 1.7rem;
    color: var(--greish);
}
.task-text {
font-size: 1.7rem;
flex: 1;
border-radius: 5rem;
}
.task-text:focus {
    outline: none;
}
.checked {
    text-decoration: line-through .3rem;
}
.task-menu {

}
.task-remove {
    font-size: 1.7rem;
    color: var(--greish);
}

/* Alert Message */

.alert-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    top: 0;
}
.alert-background.hide {
    visibility: hidden;
}
.alert-message {
    background-color: var(--accent);
    padding: 7rem;
    border-radius: 3rem;
    min-height: 40vh;
    width: 30%;
    box-shadow: 0 0 50px var(--secondary);
}
.alert-message-phrase {
    font-size: 5rem;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 2rem;
}
.alert-message-phrase span {
    text-decoration: wavy underline;
}
.alert-message-text {
    font-size: 3rem;
    color: var(--secondary);
}
.alert-message-btn {
    background-color: var(--accent);
    border: solid var(--dark) 3px;
    color: var(--dark);
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-top: 3rem;
}
.alert-message-btn:hover {
    background-color: var(--dark);
    color: var(--accent);
}


/* -------------------- codigo antiguo ------------------------ */


.todo-container {
    background-color: var(--secondary);
    min-height: 50vh;
    width: 80%;
    border-radius: 2rem;
    margin: 2rem auto;
}

/* Create a new task */
.task-container {
    border-radius: 2rem;
    width: 90%;
    margin: auto;
    padding: 1.25rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

form {
    width: 100%;
}

form label{
    display: block;
    font-size: 1rem;
    color: var(--light);
}

form input::placeholder, .categories::content {
    color: var(--light);
    font-family: 'DM Sans', sans-serif;
}


/* TODO list */



.todo-list {
    list-style: none;
    width: 100%;
    min-height: 80%;
}

.todo {
    background: var(--secondary);
    margin: 0.75em;
    border-radius: 2rem;
    color: var(--light);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.todo-item {
    width: 75%;
    font-size: 1.25rem;
}

.todo-category {
    color: var(--dark);
    background-color: var(--accent);
    font-size: 1.25rem;
    border-radius: 2rem;
}

.trash-btn, .complete-btn {
    border: none;
    background-color: transparent;
    margin-left: 1em;
    cursor: pointer;
}


.completed {
    text-decoration: line-through;
}

/*************** EVENTS CONTAINER ***********************/
.events-container {
    background-color: var(--secondary);
    width: 80%;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 1.5rem;
}

.events-heading {
    display: flex;
    margin-bottom: 10%;}

.events-heading h3 {
    font-size: 1.2em;
    margin-right: 1rem;
    align-self: center;
}

.events-button {
    color: var(--dark);
    background: var(--accent);
    font-weight: 500;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    display: block;
    font-size: 1rem;
    border: none;
    border-radius: 10em;
    margin: auto;
    width: 35px;
    height: 35px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #211d3785;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.close-event-button {
text-align: right;
padding-bottom: 1.75rem;
}

.modal {
    background-color: var(--accent);
    width: 90vw;
    height: 65vh;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 1.75rem;
    color: var(--dark);
}

.modal h3 {
    padding-bottom: 1.5rem;
    font-size: 1.9rem;
}
.create-event-button {
    color: var(--light);
    background: var(--dark);
    margin: 2rem auto;
    width: 50%;
}

.modal form label{
    display: block;
    font-size: 1rem;
    color: var(--light);
}

.modal form input, .modal select {
    display: block;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    background: var(--light);
    border-radius: 5em;
    margin: 1rem auto;
    width: 90%;
}

.events-list {
list-style: none;
}


.events-preloader {
    color: var(--light);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event {
    background: var(--dark);
    border-radius: 2rem;
    color: var(--light);
    padding:  1em;
    margin-top: 1em;
}

.event-list-container {
    width: 80%;
}

.event-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-remove-icon {
    pointer-events: none;
}



/* Dark mode toggle */
.light-mode {
    --dark: #eeeded;
    --light: #211D37;
    --primary: #D5D5D5;
    --secondary: #c0baba;
    --accent: #C77AFF;
}

